<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>804720111561-8ebh2a9rtrhs7sttfcj66jelr0r99eo4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.804720111561-8ebh2a9rtrhs7sttfcj66jelr0r99eo4</string>
	<key>API_KEY</key>
	<string>AIzaSyDoyYmjGw_P-_z71jJhHYewKKEaJyGvM2w</string>
	<key>GCM_SENDER_ID</key>
	<string>804720111561</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iradiohead.WhatDog</string>
	<key>PROJECT_ID</key>
	<string>admob-app-id-6820774012</string>
	<key>STORAGE_BUCKET</key>
	<string>admob-app-id-6820774012.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:804720111561:ios:e6f917d1eb743607</string>
	<key>DATABASE_URL</key>
	<string>https://admob-app-id-6820774012.firebaseio.com</string>
</dict>
</plist>